<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/input.css" />
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body class="bg-primary-light font-poppins text-black dark:bg-primary-dark dark:text-white">
    <header class="bg-secondary h-16 rounded-b-2xl">
        <div class="container mx-auto flex h-full items-center justify-center">
            <h1 class="text-xl font-semibold text-white"><a href="/">StockApp</a></h1>
        </div>
    </header>
    <div class="container mx-auto">
        @RenderBody()
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
