@model StockTrade?

@{
    ViewBag.Title = $"Stock - {Model?.StockName}";
}

@if (Model is not null)
{
    <div class="flex w-full flex-wrap items-center justify-center gap-2">
        <div class="mx-5 h-full w-full rounded-lg border-[1px] px-3 py-5">
            <p class="text-xl font-medium">@Model.StockName (<span class="font-semibold text-secondary" id="stock-symbol">@Model.StockSymbol</span>)</p>
            <p class="text-lg text-secondary">$ <span class="text-content" id="price">@Model.Price.ToString("#.##")</span></p>
        </div>
        <form method="post" class="mx-5 h-full w-full rounded-lg border-[1px] border-content px-3 py-5">
            <h3 class="text-lg font-medium">New order</h3>
            <div class="flex w-full flex-col items-center justify-center">
                <div class="flex w-full items-center justify-center gap-2 py-2 not-sm:flex-wrap">
                    <label asp-for="Quantity" class="block">Quantity:</label>
                    <input asp-for="Quantity" value="@ViewBag.DefaultOrderQuantity" class="rounded-sm border-[1px] border-content px-2 py-1 outline-0 not-sm:w-[90%]" />
                </div>
                <div class="flex justify-center gap-2 text-white">
                    <button type="submit" asp-action="BuyOrder" asp-controller="Trade"  class="flex cursor-pointer items-center justify-center rounded-lg bg-green-500 px-3 py-1">
                        <i class="fa-solid fa-arrow-up"></i>
                        Buy
                    </button>
                    <button type="submit" asp-action="SellOrder" asp-controller="Trade" class="flex cursor-pointer items-center justify-center rounded-lg bg-red-500 px-3 py-1">
                        <i class="fa-solid fa-arrow-down"></i>
                        Sell
                    </button>
                </div>
            </div>

            <input asp-for="StockName" class="hidden" />
            <input asp-for="StockSymbol" class="hidden" />
            <input asp-for="Price" class="hidden" />
        </form>
    </div>

    @section Scripts {
        <script src="~/js/main.js"></script>
    }
} 
else {
    <div class="flex h-full items-center">
        <h2 class="text-medium flex-1 text-center font-medium text-error">Ocurrs an error while fetching the data.</h2>
    </div>
}