@model StockTrade?

@{
    ViewBag.Title = $"Stock {Model?.StockSymbol}";
}

@if (Model is not null)
{
    <main class="mt-5 flex w-full flex-wrap justify-around gap-6">
        <div class="w-[30%] rounded-lg border-[1px] px-3 py-5">
            <p class="text-lg font-medium">@Model.StockName (<span class="text-secondary font-semibold" id="stock-symbol">@Model.StockSymbol</span>)</p>
            <p class="text-secondary">$ <span class="text-black dark:text-white" id="price">@Model.Price</span></p>
        </div>
    </main>

    @section Scripts {
        <script src="~/js/main.js"></script>
    }
} 
else {
    <div class="h-[calc(100vh-4rem)] flex w-full items-center justify-center">
        <h2 class="text-error text-lg font-medium">Ocurrs an error while fetching the data.</h2>
    </div>
}